{% extends 'core/base.html' %}

{% block title %} clients {% endblock %}

{% block content %}
<div class="py-5 px-5">
    <h1 class="mb-4 text-xl">My Clients</h1>
    <a href="{% url 'newclient' %}" class="mb-3 mt-3 inline-block text-black py-3 px-3 rounded-xl bg-gray-400 hover:bg-gray-600">
        New Client
    </a>

    <div class="flex justify-between">
        <p class="py-3 px-3 bg-slate-300 font-semibold w-full">Name</p>
    </div>

    {% for client in clients %}

        <div class="flex justify-between">
            <p class="py-3 px-3 {% cycle 'bg-slate-100' '' %} w-full">
                <a href="{% url 'client_detail' client.id %}">{{ client.name }}</a>
            </p>
        </div>

    {% empty %}
        <p class="py-2 px-2">No clients in the database so far, click new client to create.</p>
    {% endfor %}

</div>

{% endblock %}