{% extends 'core/base.html' %}

{% block title %} {{lead.name}} {% endblock %}

{% block content %}
    <div class="py-6 px-6 bg-cyan-100">
        <h1 class="mb-3 mt-3 text-xl">
            {{ lead.name }}
        </h1>

        {% if lead.definition %}
            <p class="mb-1 font-semibold">Name</p>
            <p class="mb-1">{{ lead.definition }}</p>
        {% endif %}

        <p class="font-semibold">Priority</p>
        <p class="my-2">{{ lead.get_priority_display }}</p>

        <p class="font-semibold">Status</p>
        <p class="my-2">{{ lead.get_status_display }}</p>

        <p class="font-semibold">Created_at</p>
        <p class="my-2">{{ lead.created_at }}</p>

        <p class="font-semibold">Modified_at</p>
        <p class="mb-5">{{ lead.modified_at }}</p>

        <hr class="my-3">
        
        <a href="{% url 'convert_to_client' lead.id %}" class="py-2 px-3 rounded-xl bg-blue-500 font-bold">Convert to client</a>
        <a href="{% url 'editleads' lead.id %}" class="py-2 px-3 rounded-xl bg-green-500 font-bold">Edit Lead</a>
        <a href="{% url 'deleteleads' lead.id %}" class="py-2 px-3 rounded-xl bg-red-500 font-bold">Delete Lead</a>

        <hr class="my-3">
        <h2 class="text-2xl">Comments</h2>

        <div class="mb-2 space-y-4">
            {% for comment in lead.comments.all %}
                <div class="bg-slate-200 rounded-xl px-4 -py-4">
                    <p class="my-2">
                        <strong>{{ comment.created_by }}</strong> @ {{comment.created_at}}
                    </p>
                    {{ comment.content }}
                </div>
            {% endfor %}
        </div>

        <form method="post" action="{% url 'addcomment' lead.id %}">
            {% csrf_token %}

            {{ form.as_p }}

            <button class="my-2 py-2 px-4 rounded-xl bg-gray-500 text-white">Submit</button>
        </form>
        <hr class="my-3">

        <a href="{% url 'leads' %}" class="text-blue-500">Go back to Leads</a>

    </div>
{% endblock %}